<div class="overlay">
  <div class="app-modal">
    <div class="header">
      <h4>{{ title }}</h4>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="footer clearfix" *ngIf="showCA">
      <button (click)="save()" *ngIf="showPrimary" class="btn btn-primary pull-right" [disabled]="disable" >{{ primaryButtonName }}</button>
      <button (click)="cancel()" [disabled]="disable" class="btn btn-default pull-right">{{ 'CANCEL' }}</button>
    </div>
  </div>
</div>
