<div>
  <form autocomplete="off" [formGroup]="employeeForm">
    <div class="form-group">
      <label>Employee Id</label>
      <input name="empid"
             formControlName="employeeId"
             [(ngModel)]="employeeData.empId"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label>FULL NAME</label>
      <input name="FullName"
             formControlName="name"
             [(ngModel)]="employeeData.name"
             class="form-control"
             required>
    </div>
    <div class="form-group">
      <label>Status</label>
      <ng-select [items]="['Ongoing', 'Completed', 'On Hold']"
                 labelForId="status"
                 bindLabel="Ongoing"
                 [(ngModel)]="employeeData.progress"
                 [selectOnTab]="true"
                 bindLabel="name"
                 formControlName="progress">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Project Allocation</label>
      <input name="projectAllocation"
             formControlName="percentage"
             [(ngModel)]="employeeData.percentage"
             class="form-control">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Project Start Date</label>
        <input name="projectStartDate"
               formControlName="startDate"
               [(ngModel)]="employeeData.startDate"
               type="date"
               class="form-control">
      </div>
      <div class="form-group  col-md-6">
        <label>Project End Date</label>
        <input name="projectEndDate"
               formControlName="endDate"
               [(ngModel)]="employeeData.endDate"
               type="date"
               class="form-control">
      </div>
    </div>
  </form>
</div>
