<div>
  <form autocomplete="off" [formGroup]="employeeForm">
    <div class="parent">
      <div style="width: 50%;">
        <div class="form-group">
          <label>Employee Id</label>
          <input name="empid"
                 formControlName="employeeId"
                 [(ngModel)]="employeeData.empId"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>FULL NAME</label>
          <input name="FullName"
                 formControlName="name"
                 [(ngModel)]="employeeData.name"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input name="age"
                 formControlName="age"
                 [(ngModel)]="employeeData.age"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Location</label>
          <input name="location"
                 formControlName="location"
                 [(ngModel)]="employeeData.location"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input name="emailAddress"
                 formControlName="emailAddress"
                 [(ngModel)]="employeeData.emailAddress"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Code Value</label>
          <input name="codeValue"
                 formControlName="codeValue"
                 [(ngModel)]="employeeData.codeValue"
                 class="form-control"
                 required>
        </div>
      </div>
      <div style="padding-left: 20px;">
        <div class="form-group">
          <label>Column1</label>
          <input name="column1"
                 formControlName="column1"
                 [(ngModel)]="employeeData.column1"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Column2</label>
          <input name="column2"
                 formControlName="column2"
                 [(ngModel)]="employeeData.column2"
                 class="form-control"
                 required>
        </div>
        <div class="form-group">
          <label>Status</label>
          <ng-select [items]="['Ongoing', 'Completed', 'On Hold']"
                     labelForId="status"
                     bindLabel="Ongoing"
                     [(ngModel)]="employeeData.progress"
                     [selectOnTab]="true"
                     bindLabel="name"
                     formControlName="progress">
          </ng-select>
        </div>
        <div class="form-group">
          <label>Project Allocation</label>
          <input name="projectAllocation"
                 formControlName="percentage"
                 [(ngModel)]="employeeData.percentage"
                 class="form-control">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Project Start Date</label>
            <input name="projectStartDate"
                   formControlName="startDate"
                   [(ngModel)]="employeeData.startDate"
                   type="date"
                   class="form-control">
          </div>
          <div class="form-group  col-md-6">
            <label>Project End Date</label>
            <input name="projectEndDate"
                   formControlName="endDate"
                   [(ngModel)]="employeeData.endDate"
                   type="date"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
