.employee-list-root {
  display: flex;
  flex-direction: column;
}

.employee-list-search--add-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employee-list-search {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 20px;
  .search-input {
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    margin-top: 10px;
    margin-left: 30px;
  }
}
