<div>
  <div class="parent" [formGroup]="employeeForm">
    <div style="width: 50%;">
      <div class="form-group">
        <label>Employee Id</label>
        <input name="empid"
               [formControlName]="'employeeId'"
               type="number"
               class="form-control"
               required>
      </div>
      <div class="form-group">
        <label>FULL NAME</label>
        <input name="FullName"
               [formControlName]="'name'"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('name').hasError('required')">
          Full Name is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input name="age"
               [formControlName]="'age'"
               type="number"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('age').hasError('required')">
          Age is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Location</label>
        <input name="location"
               [formControlName]="'location'"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('location').hasError('required')">
          Location is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input name="emailAddress"
               type="email"
               [formControlName]="'emailAddress'"
               class="form-control"
               required>
        <mat-error>
          <span *ngIf="employeeForm.get('emailAddress').hasError('required')">Email Address is <strong>required</strong></span>
          <span *ngIf="employeeForm.get('emailAddress').hasError('email')">Email Address is <strong>invalid</strong></span>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input name="phoneNumber"
               [formControlName]="'phoneNumber'"
               type="tel"
               class="form-control"
               required>
        <mat-error>
          <span *ngIf="employeeForm.get('phoneNumber').hasError('required')">Phone Number is <strong>required</strong></span>
          <span *ngIf="employeeForm.get('phoneNumber').hasError('pattern')">
            Phone Number is <strong>invalid</strong>
          </span>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Ge ID</label>
        <input name="geId"
               [formControlName]="'geId'"
               type="number"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('geId').hasError('required')">
          Ge Id is <strong>required</strong>
        </mat-error>
      </div>
    </div>
    <div style="padding-left: 20px;">
      <div class="form-group">
        <label>Manager Name</label>
        <input name="managerName"
               [formControlName]="'managerName'"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('managerName').hasError('required')">
          Manager Name is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Project Location</label>
        <input name="projectLocation"
               [formControlName]="'projectLocation'"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('projectLocation').hasError('required')">
          Project location is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>Status</label>
        <ng-select [items]="['Ongoing', 'Completed', 'On Hold']"
                   labelForId="status"
                   bindLabel="Ongoing"
                   [selectOnTab]="true"
                   bindLabel="name"
                   [formControlName]="'progress'">
        </ng-select>
      </div>
      <div class="form-group">
        <label>Project Allocation</label>
        <input name="projectAllocation"
               [formControlName]="'percentage'"
               class="form-control">
        <mat-error *ngIf="employeeForm.get('percentage').hasError('required')">
          Project allocation is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-group">
        <label>VPN code</label>
        <input name="vpnCode"
               [formControlName]="'vpnCode'"
               type="number"
               class="form-control"
               required>
        <mat-error *ngIf="employeeForm.get('vpnCode').hasError('required')">
          VPN Code is <strong>required</strong>
        </mat-error>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Project Start Date</label>
          <input name="projectStartDate"
                 [formControlName]="'startDate'"
                 type="date"
                 class="form-control">
        </div>
        <div class="form-group  col-md-6">
          <label>Project End Date</label>
          <input name="projectEndDate"
                 [formControlName]="'endDate'"
                 type="date"
                 class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
